@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section id="section-gallery">
    <img src="/Resources/logo.png">
    <img src="/Resources/01.jpg">
    <img src="/Resources/02.png">
    <img src="/Resources/03.png">
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
